<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<!-- layoutのreplaceの部分に置き換わる -->
	<nav class="navbar navbar-light bg-light p-3" layout:fragment="nav">

		<div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
			<a class="navbar-brand" href="/">Fishing Log</a>
			<button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
		</div>
		<div class="col-12 col-md-4 col-lg-2">
			<input class="form-control form-control-dark" type="text"
				placeholder="探す" aria-label="探す">
		</div>
		<div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
			<div class="btn-group">
			   <th:block sec:authorize="isAuthenticated()">
				<button type="button" class="btn btn-primary dropdown-toggle"
					data-bs-toggle="dropdown" aria-expanded="false">こんにちは、〇〇</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" th:href="@{/logout}" data-method="post" th:data-_csrf="${_csrf.token}">ログアウト</a></li>
				</ul>
				</th:block>
			</div>
		</div>

	</nav>
	<div id="messages" layout:fragment="messages"
		th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}"
				class="error-message" th:text="${error.message}" />
		</ul>
	</div>
</body>