<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Fishing</title>
</head>
<body>
	<div layout:fragment="contents">
	  <main class="col-md-9 ml-sm-auto px-md-4 py-4">
		<h1 class="text-center">新規登録</h1>
		<div class="bd-example">
			<form class="row g-3" method="post" th:action="@{/user}" th:object="${form}">
			 <div layout:replace="~{layouts/common::messages}"></div>
				<div class="col-md-6">
					<label for="inputname" class="form-label">名前</label> 
					<input type="text" class="form-control" th:field="*{name}" /><p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
				</div>
				<div class="col-md-6">
					<label for="inputEmail" class="form-label">Eメール</label> 
					<input type="text" class="form-control" th:field="*{email}" /><p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>
				</div>
				<div class="col-12">
					<label for="inputpassword" class="form-label">パスワード</label> 
					 <input type="password" class="form-control" th:field="*{password}" /><p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}"></p>
				</div>
				<div class="col-12">
					<label for="input_password_confirmation" class="form-label">パスワード（確認）</label> 
					<input type="password" class="form-control" th:field="*{passwordConfirmation}" /><p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
				</div>
				<div class="col-12">
					<label for="inputCity" class="form-label">都道府県</label>
					 <input type="text" class="form-control" placeholder="千葉県" th:field="*{live}" /><p th:if="${#fields.hasErrors('live')}" class="error-message" th:errors="*{live}"></p>
				</div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary">新規登録</button>
				</div>
			</form>
		</div>
		</main>
	</div>
</body>
</html>