<!DOCTYPE html>
<html
 xmlns:th="http://www.thymeleaf.org"
 xmlms:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layouts/layout}">
 <head>
 <title>Fishing</title>
 </head>
 <body>
 <!-- layoutの各ページを表示される場所に入る内容 -->
 <div layout:fragment="contents">
              <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">概要</font></font></li>
                    </ol>
                </nav>
                <h1 class="h2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">情報</font></font></h1>
                
                <div class="row my-4">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">釣りニュース</font></font></font></font></h5>
                            <div class="card-body">
                              <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">何かのURL</font></font></font></font></h5>
                              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></font></font></p>
                              <p class="card-text text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">なしで良いかも？</font></font></font></font></p>
                            </div>
                          </div>
                    </div>   
                </div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">週間天気予報</font></font></h5>
                            <div class="card-body">
                              <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">都道府県名</font></font></h5>
                              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">天気予報の画面</font></font></p>
                            </div>
                          </div>
                    </div>
                </div>            
                <div class="row my-4">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">タイドグラフ</font></font></font></font></h5>
                            <div class="card-body">
                              <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">都道府県</font></font></font></font></h5>
                              <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">実際のグラフ表示</font></font></font></font></p>
                            </div>
                          </div>
                    </div>
                </div><footer class="pt-5 d-flex justify-content-between">
                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Copyright© </font></font><a href="https://themesberg.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2019-2020Themesberg</font></font></a></span>
                    <ul class="nav m-0">
                        <li class="nav-item">
                          <a class="nav-link text-secondary" aria-current="page" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">プライバシーポリシー</font></font></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">規約と条件</font></font></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">コンタクト</font></font></a>
                        </li>
                      </ul>
                </footer>
            </main>
  </div>
  </body>
</html>